# Core database & dependencies
pymongo
requests
tqdm
nodejs
npm
ansible-core

# Config / secret management
python-dotenv
python-dotenv-vault

# Progress / utilities
tqdm
# numpy

# LLM / RAG
langchain
openai
voyageai
langchain-mongodb
langchain-core
langchain-openai
langchain-voyageai

# Infrastructure / automation
ansible
boto3
botocore
awscli

# Optional UI / logging
colorama
rich

# Optional for better notebook outputs and debugging
rich
tabulate